<h1>Create new task</h1>

<%= simple_form_for @task do |f| %>
  <%= f.association :project %>
  <%= f.input :name %>
  <%= f.input :content, as: :text %>
  <%= f.input :date_from, as: :datetime %>
  <%= f.input :duration, collection: 1..current_user.remaining_hours_today %>
  <%= f.button :submit %>
<% end %>