<h1>Create new task</h1>

<%= form_for(@task) do |f| %>
  <div>
    <div><%= f.text_area :name, placeholder: "Compose new task...Name" %><%= f.text_area :content, placeholder: "content" %></div>
    <div>Start time: <%= datetime_select :task, :date_from %></div>
    <div>Duration in whole hours:   <%= f.select :duration, controller.hours_drop_down %> (remaining hours today <%= controller.remaining_hours_today %>)</div>
  </div>
  <%= f.submit "Post", class: "btn" %>
<% end %>