<h1>Razor project</h1>
<p>
  This is the home page for the Razor project.
</p>
<%- if user_signed_in? %>
  <div> <%= @today.strftime("%d/%m/%Y")%></div>
  <h3> User <%= current_user.email %></h3>

  <p>
    <%= link_to "See Tasks", tasks_path %>
  </p>

  <p>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</p>

  <% else %>
<ul>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
</ul>

<% end %>