<h1>Razor project</h1>
<p>
  This is the home page for the Razor project.
</p>



  



<%- if user_signed_in? %>
  <h3> User <%= current_user.email %> has <%= pluralize(current_user.tasks.count, "task") %></h3>
  <% if current_user.tasks.count > 0 %>
    <table class="tasks">
      <% current_user.tasks.each do |task| %>
        <tr>
          <td class="task">
            <span class="name"><strong><%= task.name %></strong></span>
            <span>
              Start time:  <%= task.date_from.to_formatted_s(:long) %>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

<p>
  <%= link_to "Create New Task", new_task_path %>
</p>

<p>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</p>

  <% else %>
<ul>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
</ul>

<% end %>